<div class="as-search-wrapper" role="main">
    {{> header}}
    <div class="as-search-results as-filter-open as-category-landing as-desktop" id="as-search-results">

        <div id="accessories-tab" class="as-accessories-details">
            <div class="as-accessories" id="as-accessories">
                <div class="as-accessories-header">
                    <div class="as-search-results-count">
                        <span class="as-search-results-value"></span>
                    </div>
                </div>
                <div class="as-searchnav-placeholder" style="height: 77px;">
                    <div class="row as-search-navbar" id="as-search-navbar" style="width: auto;">
                        <div class="as-accessories-filter-tile column large-6 small-3">

                            <button class="as-filter-button" aria-expanded="true" aria-controls="as-search-filters"
                                type="button">
                                <h2 class=" as-filter-button-text">
                                    Smartphones
                                </h2>
                            </button>


                        </div>

                    </div>
                </div>
                <div class="as-accessories-results  as-search-desktop">
                    <div class="as-accessories-results  as-search-desktop">
                        <div class="row">
                            <div class="col-md-4 with-paddlenav " style="float:left;">
                                <div class="as-dummy-container as-dummy-img">

                                    <img src="/assets/wireless-headphones"
                                        class="ir ir item-image as-producttile-image  "
                                        style="max-width: 70%;max-height: 70%;" alt="" width="445" height="445">
                                </div>
                                <div class="images mini-gallery gal5 ">


                                    <div class="as-isdesktop with-paddlenav with-paddlenav-onhover">
                                        <div class="clearfix image-list xs-no-js as-util-relatedlink relatedlink"
                                            data-relatedlink="6|Powerbeats3 Wireless Earphones - Neighborhood Collection - Brick Red|MPXP2">
                                            <div class="as-tilegallery-element as-image-selected">
                                                <div class=""></div>
                                                <img src="/assets/003.jpg" class="ir ir item-image as-producttile-image"
                                                    alt="" width="200" height="200"
                                                    style="content:-webkit-image-set(url({{ img }}) 2x);">
                                            </div>

                                        </div>


                                    </div>

                                    <div class="as-producttile-titlepricewraper" style="min-height: 128px;">
                                        <div class="as-producttile-title">
                                            <h3 class="as-producttile-name">
                                                <p class="as-producttile-tilelink">
                                                    <span data-ase-truncate="2"> {{ title }} </span>
                                                </p>

                                            </h3>
                                        </div>
                                        <h3>
                                            {{ price }}$
                                        </h3>
                                        <h3>
                                            <label>Cantidad: </label>{{ unit }}
                                        </h3>
                                    </div>

                                </div>

                            </div>
                            <div class="col-md-6 as-producttile-info" style="float:left;min-height: 168px;">

                                <form method="post" action="/api/checkout">
                                    <div class="form-group">
                                        <label>Nombre completo</label>
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <input class="form-control" type="text" name="name"
                                                    placeholder="Ingrese su nombre" value="Lalo" />
                                            </div>
                                            <div class="col-xs-6">
                                                <input class="form-control" type="text" name="surname"
                                                    placeholder="Ingrese su apellido" value="Landa"/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>Email</label>
                                        <input class="form-control" type="email" name="email"
                                            placeholder="Ingrese su email" value="test_user_63274575@testuser.com" />
                                    </div>
                                    <div class="form-group">
                                        <label>Telefono</label>
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <input class="form-control" type="number" name="cod"
                                                    placeholder="Cod. area" value="11" />
                                            </div>

                                            <div class="col-xs-8">
                                                <input class="form-control" type="number" name="phone"
                                                    placeholder="Cod. area" value="22223333" />
                                            </div>
                                        </div>
                                    </div>

                                    <hr />

                                    <h2>Datos de envio</h2>
                                    <div class="form-group">
                                        <label>Ingrese Dirección</label>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <input class="form-control" type="text" name="address"
                                                    placeholder="Ingrese su dirección" value="False"/>
                                            </div>

                                            <div class="col-md-4">
                                                <input class="form-control" type="number" name="num"
                                                    placeholder="Número" value="123" />
                                            </div>
                                            <div class="col-md-4">
                                                <input class="form-control" type="number" name="zipcode"
                                                    placeholder="Código postal" value="1111" />
                                            </div>
                                        </div>

                                    </div>

                                    <input type="hidden" name="title" value="{{ title }}" />
                                    <input type="hidden" name="img" value="{{ img }}" />
                                    <input type="hidden" name="price" value="{{ price }}" />
                                    <input type="hidden" name="unit" value="{{ unit }}" />
                                    <button type="submit" class="mercadopago-button" formmethod="post">Pagar la compra</button>
                                </form>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{> footer}}